```{=html}
<div class="collection-container">
  <% for (const item of items) { %>
      <div class="collection-item Box color-shadow-large rounded-1">
          <div class="collection-item-inner">
            <div class="collection-item_img">
              <div class="collection-item-img-link">
                  <span>
                    <a href="<%- item.goodreads_url %>" id="collection-item-img-link" target="_blank">goodreads</a>
                  </span>
                  <br>
                  <span>
                    <a href="<%- item.amazon_url %>" id="collection-item-img-link" target="_blank">amazon</a>
                  </span>
              </div>
              <p>
                <img src="<%- item.img_url %>" class="img-fluid" alt="<%- item.title %>">
              </p>
            </div>
            <div class="collection-item_description">
              <div class="collection-item-name">
                <%= item.title %>
              </div>
              <% if (item.subtitle) { %>
                <div class="collection-item-subtitle">
                  <%= item.subtitle %>
                </div>
              <% } %>
              <div class="collection-item-quotes">
              <%= item.description %>
              </div>
            </div>
          </div>
      </div>
  <% } %>
</div>
```